---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

import ProjectCard from '../components/ProjectCard.astro';

const projects = await Astro.glob('../pages/projects/*.md');
---

<BaseLayout>
    <div class="page-top">
        <h1>My Projects</h1>
    </div>
    <main class="projects-page">
        <section class="projects-grid">
            {projects.map((project) => (
                <ProjectCard 
                url={project.url as string}
                title={project.frontmatter.title} 
                description={project.frontmatter.description} 
                image={project.frontmatter.image} 
                link={project.frontmatter.link} 
                />
            ))}
  </section>
</main>
</BaseLayout>

<style>
    .projects-page {
        padding: 3rem;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
</style>
