---
// Import the base layout component
import BaseLayout from "./BaseLayout.astro";

// Destructure frontmatter from Astro props
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div class="blog-box">
    <div class="blog-content">
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
      <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
      <slot/>
    </div>
  </div>
</BaseLayout>

<style>
  .blog-box {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    background-color: #fff;
  }
  
  .blog-image {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: contain;
  }

  .blog-content {
    flex: 1;
  }
</style>
